.page-title {
    font-size: 3em;
    font-family: 'Poppins';
    font-weight: 600;
    color: #ffdb4f;
    text-align: center;
}

.page-content {
    font-size: 1.5em;
    font-family: 'Poppins';
    font-weight: 200;
    color: white;
    text-align: center;
}

.page-form {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.page-input {
    margin-bottom: 50px;
}

.page-button {
    width: 140px;
}

.button:hover {
    background-color: #e6c84f;
}

.hidden-label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}