.pageTitle {
    font-size: 3.5em;
    font-family: Poppins;
    font-weight: 600;
    color: #ffdb4f;
    text-align: center;
}

.pageContent {
    font-size: 2em;
    font-family: Poppins;
    font-weight: 300;
    color: white;
    text-align: center;
}